<!DOCTYPE html>
<html xmlns="" xml:lang="en" lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>THE PLAYBOOK</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Author Name Goes Here" />
    <meta name="copyright" content="Copyright Goes Here" />
    <meta name="description" content="Description Goes Here" />
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/screen.css'>
    <link rel="start" title="Home" href="" />
     <script src="https://code.jquery.com/jquery.js"></script>
    <script src='/assets/js/default.js'></script>
</head>
<body>
    {{{body}}}
</body>
</html>
