<nav class="navbar navbar-expand-lg navbar-dark bg-dark playbook-title">
  <h1>The Playbook</h1>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark playbook-nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allgames">Games</a>
        </li>
    </div>
  </div>
</nav>


<div id="list">
    <h3>All games:</h3>
    <div class="pagebox">
        <dl>
          {{#each allGames}}
          <dt><a href="/games/{{this.gameId}}">{{this.gameName}}</a></dt>
          {{/each}}
        </dl>
      </div>
   

</div>
<div id="footer">
  <p> <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Contact</a> | <a href="#">About</a> |</p>
</div>