body{
    background-color: #333;
    background: url(images/spectrum.png);
    
};
#create{
    margin-top: 100px;
}
.btn-primary{
    background-color: #779955;
}
#header
{
	float: left; 
	width: 100%; 
	clear: both;
	border-top: 10px solid #111111;
	background: #222222 
}
h3 {
	font-family: 'Press Start 2P', cursive;
	padding-top: 20px;
	color: #FFF;
}
h1 {
	color: rgb(23,143,67);
	font-family: 'Press Start 2P', cursive;
}
